In [ ]:
# LIST

# list.append(x) : menambahkan item ke bagian akhir list, setara dengan a[len(a):]=[x]

# list.extend(iterable) : perpanjang daftar dengan menambahkan semua intem iterable, setara dengan a[len(a):] = iterable

# list.insert(i,x) : memasukkan item pada posisi tertentu. Argumen pertama adalah indeks elemen sebelum memasukkan, jadi a.insert(0, x). disisipkan di bagian depan list a.insert(len(a), x) dan setara dengan a.append(x)

# list.remove(x) : menghapus item pertama dari list yang nilainya sama dengan x

# list.pop([i]) : menghapus posisi item yang diberikan dalam list, dan mengenbalikannya kembali. Jika indeks tidak spesifik, a.pop() akan menghapus dan mengembalikan item terakhir dalam list

# list.clear() : menghapus semua item dari daftar, setara dengan del a[:]

# list.index(x[,start[,end]]) : mengembalikan indeks berbasis 0 dalam list item pertama yang nilainya sama dengan x

# list.count(x) : mengembalikan beberapa number dari waktu x dalam list

# list.sort(key=None, reverse=False) : mengurutkan item daftar (argumen dapat digunakan untuk mengurutkan kustomisasi)

# list.reverse() : mengembalikkan elemen list ke tempatnya

# list.copy() : untuk membuat salinan dari list

In [1]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [2]:
fruits.count('apple')

2

In [3]:
fruits.count('tangerine')

0

In [4]:
fruits.index('banana')

3

In [5]:
fruits.index('banana', 4)  # Find next banana starting a position 4

6

In [6]:
fruits.reverse()

In [7]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [8]:
fruits.append('grape')
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [9]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [10]:
fruits.pop()

'pear'

In [11]:
# Menggunakan list sebagai Stack
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [12]:
stack.pop()

7

In [13]:
stack

[3, 4, 5, 6]

In [14]:
stack.pop()

6

In [15]:
stack

[3, 4, 5]

In [16]:
#Menggunakan List dalam Atrian

from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives
queue.popleft()                 # The first to arrive now leaves

'Eric'

In [17]:
queue.popleft()                 # The second to arrive now leaves

'John'

In [18]:
queue                           # Remaining queue in order of arrival

deque(['Michael', 'Terry', 'Graham'])

In [19]:
#List Comprehensions

squares = []
for x in range(10):
    squares.append(x**2)

In [20]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
squares = list(map(lambda x: x**2, range(10)))

In [22]:
squares = [x**2 for x in range(10)]

In [23]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]
[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [24]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))

In [25]:
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [26]:
vec = [-4, -2, 0, 2, 4]

# create a new list with the values doubled
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [28]:
# filter the list to exclude negative numbers
[x for x in vec if x >= 0]

[0, 2, 4]

In [29]:
# apply a function to all the elements
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [30]:
# call a method on each element
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [31]:
# create a list of 2-tuples like (number, square)
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [32]:
# the tuple must be parenthesized, otherwise an error is raised
[x, x**2 for x in range(6)]

SyntaxError: invalid syntax (<ipython-input-32-702d12ece8a4>, line 2)

In [35]:
#flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [5]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

In [6]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [7]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [8]:
transposed = []
for i in range(4):

# the following 3 lines implement the nested listcomp
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [9]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [10]:
#The del statement
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [11]:
del a[2:4]

In [12]:
del a[:]

In [13]:
del a

In [14]:
#Tuples dan Sequences

t = 12345, 54321, 'hello!'
t[0]

12345

In [15]:
t

(12345, 54321, 'hello!')

In [16]:
# Tuples may be nested:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [17]:
# Tuples are immutable:
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [18]:
# but they can contain mutable objects:
v = ([1, 2, 3], [3, 2, 1])
v

([1, 2, 3], [3, 2, 1])

In [19]:
empty = ()
singleton = 'hello',    # <-- note trailing comma
len(empty)

0

In [20]:
len(singleton)

1

In [21]:
singleton

('hello',)

In [22]:
x, y, z = t

In [23]:
# Sets

basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

{'apple', 'banana', 'pear', 'orange'}

In [24]:
'orange' in basket

True

In [25]:
'crabgrass' in basket

False

In [26]:
# Demonstrate set operations on unique letters from two words
...
>>> a = set('abracadabra')
>>> b = set('alacazam')
>>> a

{'a', 'b', 'c', 'd', 'r'}

In [27]:
a - b

{'b', 'd', 'r'}

In [28]:
a | b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [29]:
a & b

{'a', 'c'}

In [30]:
a ^ b

{'b', 'd', 'l', 'm', 'r', 'z'}

In [31]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

In [32]:
#Dictionaries
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [33]:
tel['jack']

4098

In [34]:
del tel['sape']
tel['irv'] = 4127
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [35]:
list(tel)

['jack', 'guido', 'irv']

In [36]:
sorted(tel)

['guido', 'irv', 'jack']

In [37]:
'guido' in tel

True

In [38]:
'jack' not in tel

False

In [39]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [40]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [41]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [42]:
# Teknik Looping

knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [43]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [44]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [47]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [48]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [49]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]